<section id="main">

  <div class="holder">
  Your personal search engine
  <input type="text" class="form-control" placeholder="What are you looking for?" />
  </div>
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />
  bla<br />

</section>
